.header__container {
  display: inline-block;
  width: 100%;
  height: 1200px;
  background: url('/images/2.png') center bottom / 20px, url("/images/Background.png");
  background-size: cover;
}

.header__menu {
  margin: 65px 84px 0 85px;
  display: flex;
  justify-content: space-between;
}

.header__navigation-list {
  display: flex;
}

.header__navigation-list-item {
  margin-right: 50px;
  list-style-type: none;
}

.header__navigetion-link {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}

.header__input {
  background-color: transparent;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #ffffff;
  border: none;
}

/* HEADER TITLE*/

.header__container__title {
  margin: 126px 0px 0 28px;
  display: flex;
}

.header__social__title {
  writing-mode: vertical-rl;
  color: aliceblue;
}

.header__social {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

.header__title {
  margin-left: 247px;
}
.header__subtitle-decoration{
  display: flex;
    align-items: center;
}

.header__line {
  width: 72px;
  height: 3px;
  background: #ffc178;
  margin: 0;
  border: none; 
}

.header__subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  color: #ffc178; 
  margin-left: 32px;
}

.title {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 100px;
text-transform: capitalize;
color: #FFFFFF;


flex: none;
order: 1;
flex-grow: 0;
}

span {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 86px;
}

.header__scrollWindow {
  margin: 78px 260px 0 673px;;
}

.scroll__button {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #ffffff;
background-color: transparent;
border: none;
cursor: pointer;
}