.main__slider {
  max-width: 1461px;
  margin: 0 auto;
}

.carousel {
  margin-top: 250px;
}

.d-block2 {
  margin-top: -420px;
}

.carousel__subtitle-decoration {
    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel__subtitle {
  padding: 29px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  color: #ffc178; 
}

.carousel__title {
  font-size: 64px;
  line-height: 87px;
  text-align: center;
color: #ffffff;
}


.carousel__title-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
