.main__slider {
  max-width: 1461px;
  margin: 0 auto;
}

.carousel {
  margin-top: 250px;
}

.carousel__subtitle-decoration {
    margin-left: 20px;
}
.carousel__title {
  font-size: 64px;
  line-height: 87px;
  text-align: center;

  color: #ffffff;
}

.carousel__title-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
